@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* Variables */
/* body.dark {
  --bg-black-900: #fff;
  --bg-black-100: #353535;
  --bg-black-700: #ffffff;
  --bg-black-50: #2b2c2f;
  --bg-opacity: rgba(43, 44, 47, 0.5);
  --text-black-900: #ffffff;
  --text-black-700: #ffffff;
  --text-black-600: #bbbbbb;
  --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
  --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
} */
/* Variables */
html {
  overflow-x: hidden;
}

body {
  background-color: #000 !important;
  font-family: "Press Start 2P", cursive;
  overflow-x: hidden;
}

nav {
  padding: 15px 80px;
  -webkit-animation: animNavigation 1.2s ease;
          animation: animNavigation 1.2s ease;
}

nav .navbar-brand {
  color: #fff !important;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}

nav .navbar-brand b {
  font-weight: 500;
}

nav .navbar-nav {
  margin-left: auto;
}

nav .navbar-nav .nav-item {
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
}

nav .navbar-nav .nav-item a {
  position: relative;
  text-decoration: none;
  color: #949494 !important;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}

nav .navbar-nav .nav-item a::before, nav .navbar-nav .nav-item a::after {
  position: absolute;
  display: inline-block;
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .navbar-nav .nav-item a::before {
  content: "{";
  top: -3px;
  left: -14px;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

nav .navbar-nav .nav-item a::after {
  content: "}";
  top: -3px;
  right: -14px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

nav .navbar-nav .nav-item:hover a::before {
  opacity: 1;
  color: #fff;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .navbar-nav .nav-item:hover a::after {
  color: #fff;
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav.fixed {
  padding: 15px 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #000000cf;
  -webkit-box-shadow: 0 5px 15px #0c0c0cde;
          box-shadow: 0 5px 15px #0c0c0cde;
}

.type-animation {
  display: inline-block;
}

.Typewriter {
  display: inline-block;
}
