/* Navbar */
nav {
  padding: 15px 80px;
  .navbar-brand {
    color: #fff !important;
    text-decoration: none;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    b {
      font-weight: 500;
    }
  }
  .navbar-nav {
    margin-left: auto;
    .nav-item {
      margin: 20px;
      font-size: 20px;
      font-weight: 500;
      a {
        position: relative;
        text-decoration: none;
        color: #949494 !important;
        transition: 0.2s ease;
        -webkit-transition: 0.2s ease;
        &::before,
        &::after {
          position: absolute;
          display: inline-block;
          opacity: 0;
          transform: scale(0.1);
          transition: all 0.3s linear;
        }
        &::before {
          content: "[";
          top: -3px;
          left: -14px;
          transform: translateX(30px);
        }
        &::after {
          content: "]";
          top: -3px;
          right: -14px;
          transform: translateX(-30px);
        }
      }
      &:hover a::before {
        opacity: 1;
        color: #fff;
        transform: translate(0);
        transform: scale(1.2);
      }
      &:hover a::after {
        color: #fff;
        opacity: 1;
        transform: translate(0);
        transform: scale(1.2);
      }
    }
    .active.nav-item{
      a {
        position: relative;
        text-decoration: none;
        color: #949494 !important;
        transition: 0.2s ease;
        -webkit-transition: 0.2s ease;
        &::before,
        &::after {
          position: absolute;
          display: inline-block;
          opacity: 1;
          color: #fff;
          transform: scale(1);
          transition: all 0.3s linear;
        }
        &::before {
          content: "[";
          top: -3px;
          left: -14px;
        }
        &::after {
          content: "]";
          top: -3px;
          right: -14px;
        }
      }
      &:hover a::before {
        transform: translate(0);
        transform: scale(1.2);
      }
      &:hover a::after {
        transform: translate(0);
        transform: scale(1.2);
      }
    }
  }
}
/* Navbar */

/* Nav fixed */
nav.fixed {
  padding: 15px 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: #000000cf;
  box-shadow: 0 5px 15px #0c0c0cde;
}
/* Nav fixed */