.row {
  .col-md-12 {
    padding-top: 50px;
    .projectCard {
      display: flex;
      justify-content: space-between;
      margin: 50px 0;
      .projectImage {
        width: 50%;
      }
      .cardTitles {
        margin: 30px 50px;
        .projectAbout {
          .projectName {
            color: white;
            font-weight: 600;
            font-family: "Montserrat", "sans-serif";
          }
          .projectDesc {
            color: #aaaaaa;
            font-family: "Montserrat", "sans-serif";
            margin: 10px 0 50px;
          }
        }
        .projectButtons {
          .buttons {
            background-color: #2b2b2b;
            padding: 17px 35px;
            color: #ffffff;
            font-size: 20px;
            text-decoration: none;
            font-family: "Montserrat", "sans-serif";
            font-weight: 500;
            .svg {
              margin: 0 10px 0;
            }
            &:nth-child(2) {
              background-color: $homeButtonColor2;
              margin-left: 30px;
            }
          }
        }
      }
    }
    &:nth-child(even) {
      .projectCard {
        flex-direction: row-reverse;
        .cardTitles {
          margin: 30px 0;
          .projectAbout {
            .projectDesc {
              width: 75%;
            }
          }
        }
      }
    }
  }
}

//  Portfolio

@media screen and (max-width: 1200px) {
  .titles {
    h3 {
      font-size: 35px !important;
    }
    p {
      font-size: 25px !important;
    }
  }
  .row {
    .col-md-12 {
      .projectCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .projectImage {
          width: 50%;
        }
        .cardTitles {
          margin: 30px 50px;
          .projectAbout {
            .projectName {
              font-size: 30px;
            }
            .projectDesc {
              font-size: 20px;
            }
          }
        }
        .projectButtons {
          a {
            padding: 15px 10px !important;
            font-size: 22px !important;
            &:nth-child(2) {
              margin-left: 16px !important;
            }
          }
        }
      }
      &:nth-child(even) {
        .projectCard {
          .cardTitles {
            .projectAbout {
              .projectDesc {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .titles {
    h3 {
      font-size: 35px !important;
    }
    p {
      font-size: 25px !important;
    }
  }
  .row {
    .col-md-12 {
      padding: 15px;
      .projectCard {
        display: inline-block;
        .projectImage {
          width: 100%;
        }
        .cardTitles {
          margin: 30px 0;
          .projectAbout {
            .projectName {
              font-size: 30px;
            }
            .projectDesc {
              font-size: 20px;
              width: 75%;
            }
          }
        }
        .projectButtons {
          a {
            padding: 15px 10px !important;
            font-size: 18px !important;
            &:nth-child(2) {
              margin-left: 10px !important;
            }
          }
        }
      }
      &:nth-child(even) {
        .projectCard {
          .cardTitles {
            .projectAbout {
              .projectDesc {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .titles {
    h3 {
      font-size: 35px !important;
    }
    p {
      font-size: 25px !important;
    }
  }
  .row {
    .col-md-12 {
      padding-top: 0;
      .projectCard {
        display: inline-block;
        .projectImage {
          width: 100%;
        }
        .cardTitles {
          margin: 30px 0;
          .projectAbout {
            .projectName {
              font-size: 30px;
            }
            .projectDesc {
              font-size: 20px;
            }
          }
        }
        .projectButtons {
          a {
            padding: 15px 10px !important;
            font-size: 18px !important;
            &:nth-child(2) {
              margin-left: 10px !important;
            }
          }
        }
      }
      &:nth-child(even) {
        .projectCard {
          .cardTitles {
            .projectAbout {
              .projectDesc {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .titles {
    h3 {
      font-size: 35px !important;
    }
    p {
      font-size: 25px !important;
    }
  }
  .row {
    .col-md-12 {
      padding-top: 0;
      .projectCard {
        display: inline-block;
        .projectImage {
          width: 100%;
        }
        .cardTitles {
          margin: 30px 0;
          .projectAbout {
            .projectName {
              font-size: 25px;
            }
            .projectDesc {
              font-size: 18px;
            }
          }
        }
        .projectButtons {
          a {
            padding: 15px 10px !important;
            font-size: 18px !important;
            &:nth-child(2) {
              margin-left: 10px !important;
            }
          }
        }
      }
      &:nth-child(even) {
        .projectCard {
          .cardTitles {
            .projectAbout {
              .projectDesc {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .titles {
    h3 {
      font-size: 30px !important;
    }
    p {
      font-size: 20px !important;
    }
  }
  .row {
    .col-md-12 {
      padding-top: 0;
      .projectCard {
        display: inline-block;
        .projectImage {
          width: 100%;
        }
        .cardTitles {
          margin: 30px 0;
          .projectAbout {
            .projectName {
              font-size: 20px;
            }
            .projectDesc {
              font-size: 15px;
            }
          }
        }
        .projectButtons {
          a {
            padding: 13px 10px !important;
            font-size: 15px !important;
            &:nth-child(2) {
              margin-left: 10px !important;
            }
          }
        }
      }
      &:nth-child(even) {
        .projectCard {
          .cardTitles {
            .projectAbout {
              .projectDesc {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 330px) {
  .titles {
    h3 {
      font-size: 30px !important;
    }
    p {
      font-size: 20px !important;
    }
  }
  .row {
    .col-md-12 {
      padding-top: 0;
      .projectCard {
        display: inline-block;
        .projectImage {
          width: 100%;
        }
        .cardTitles {
          margin: 30px 0;
          .projectAbout {
            .projectName {
              font-size: 20px;
            }
            .projectDesc {
              font-size: 15px;
            }
          }
        }
        .projectButtons {
          a {
            padding: 13px 10px !important;
            font-size: 15px !important;
            &:nth-child(2) {
              margin-left: 10px !important;
            }
          }
        }
      }
      &:nth-child(even) {
        .projectCard {
          .cardTitles {
            .projectAbout {
              .projectDesc {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
